# Discord OAuth2 Configuration
VITE_DISCORD_CLIENT_ID=1325057674169286749
VITE_DISCORD_CLIENT_SECRET=PCdK_-Wk1jfF7TLhQ_ed-P_WhyUaKmhF
VITE_DISCORD_REDIRECT_URI=http://localhost:5173/verify

# API Configuration  
VITE_API_BASE_URL=http://localhost:3000/api

# Bot Configuration
VITE_BOT_TOKEN=MTMyNTA1NzY3NDE2OTI4Njc0OQ.GAZCT3.h0t0qoFmPEKJMy4iLpsftUnlY07kf1MRn_hUP4